/* FONTS */

.carrois-gothic-sc-regular {
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }
  .ewert-regular {
    font-family: "Ewert", serif;
    font-weight: 400;
    font-style: normal;
  }
      


/* GENERAL SETTINGS */

* {
    border:0;
    margin:0;
    box-sizing: border-box;
    /* outline: 2px dashed blue; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("images/brown_vintage_background.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}



h1 {
    font-size: clamp(2rem, 6vw, 13rem); 
    font-family: "Rye", serif;
    text-transform: uppercase;
    color: #f3db86;
    mix-blend-mode: darken;
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #000,
      -0.05em 0.05em 0.1em #000, -0.1em 0.1em 0.3em #000,
      -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: clamp(1.2rem, 4vw, 3rem); 
    font-family: "Rye", serif;
    text-transform: uppercase;
    color: #2d2d2d;
    mix-blend-mode:color-burn;   
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #afafaf,
    -0.05em 0.05em 0.1em #959595, -0.1em 0.1em 0.3em #999999,
    -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);    
}

h3 {
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: "Carrois Gothic SC", sans-serif;
    color: #2d2d2d;
    mix-blend-mode:color-burn;   
    text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.2), -0.025em 0.025em 0.1em #afafaf,
    -0.05em 0.05em 0.1em #959595, -0.1em 0.1em 0.3em #999999,
    -0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

h4 {
    font-size: clamp(0.8rem, 1.4vw, 2rem);
    font-family: "Carrois Gothic SC", sans-serif;
    padding-top:10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* THE BOX */

.theBox {
    display: grid;
    justify-content: center;
    align-items: start; 
    row-gap: 3vw;   
    width:80vw;
    height:auto;
    margin-top:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    background-image: url("images/istockphoto-471799678-612x612.jpg");
    background-blend-mode:darken;
    background-repeat: repeat;
}

/* HEADER */

.header {
    grid-column: span 2;
    text-align: center;
    padding: 20px 20px 0px 20px;
}

.header:first-child {
    padding-top: 6vh;
}

/* NAVIGATION */
.menu {
    grid-column: span 2;
}
nav { 
    inset: 1rem 0rem auto;
    padding: 1rem;
    display: flex;
    width:100%;    
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

button, nav a {
    font-family: "Carrois Gothic SC", sans-serif;    
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    font-weight: normal;
    color: rgb(34, 10, 0);
    text-decoration:none;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 2vw;
    border-image: url("images/Brass_CTA.png") 46 fill / 20px;
    box-shadow: 5px 5px 5px #000000b9;
}

button {
   width:100%;
}

nav a:hover,
nav a:focus-visible {
    text-decoration: underline;
}

/* SHELVES */

.shelves {
    grid-column: span 2;
    display: grid;
    align-items: start;
    grid-template-columns: minmax(120px, 1fr) 1fr minmax(120px, 1fr) 1fr;
    grid-auto-rows: min-content;    
    width:100%;    
    justify-content:space-around;
    align-items: center;
    gap: 4vw;
    padding: 2vw;
}

.watchStandArea {
    grid-column: span 2; 
    grid-row: span 2;   
    display: grid;

    justify-content:flex-start;
    align-items: start;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;    
    width:100%;

    gap: 0 1rem;
}



.watchShelf { 
    grid-column: 1 / 2;
    grid-row: span 3;
    align-self: stretch;      
    width:100%;
    min-width:110px;
    height:auto;
    background-image: url("images/WatchBoxBackground.png"); 
    background-size: 100% 100%;
    padding:2vw;
    object-fit: scale-down;
    /* filter:drop-shadow(8px 8px 10px rgb(20, 20, 20)); */
}

.watchShelf:hover {
    filter:saturate(120%) contrast(110%) brightness(110%);
    transition: all ease-out 0.5s;
}

.watchShelf:hover ~ div > ul > li {
    filter:saturate(120%) contrast(110%) brightness(110%);
}

.watchShelf:hover ~ div ul {
    display: flex;
    animation: 0.4s fade-in ease-in;
}

.watchShelf:hover ~ div > button {
    color:black;
    text-shadow: 2px 2px 2px gold;
}

.watchShelf:hover ~ div > h4 {
    display:none;
}

.watchInfo { 
    grid-column: 2 / 3;
    grid-row: span 3;
    align-self: stretch;    
    width:auto;
    height:auto;   
}

.watchInfo ul {
    padding:20px 0px;
    display: none;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: center;
    gap:0.5vw;
    border-image: url("images/Brass_CTA.png") 40 fill / 20px;
    box-shadow: 5px 5px 5px #000000b9;  
    margin-top:4px;
    padding: 20px;
}

.watchInfo li {
    list-style: none;
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: bold;
    padding:2px 10px;
    text-transform: lowercase;
    border-radius: 100px;
    border: 0px solid transparent;
    background-color:#f6d08f;
    box-shadow: 0px 0px 8px inset black;
    filter:drop-shadow(3px 3px 4px black);
}

@keyframes fade-in {
    0% {
      transform: translateY(-30px);
      opacity:0;
    }
  
    100% {
        transform: translateY(0px);
        opacity:1;        
    }
  }

@media (width < 900px) {
    .shelves { 
        grid-template-columns: repeat(2, 1fr);}
    .watchShelf {
        padding:4vw;
    }       
}


